*{
    padding: 0px;
    margin: 0px;
    box-sizing: ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color:  #F3F6FF;
}
.navbar{
    background-color: #F3F6FF; 
    border-top:2px solid black;
    border-bottom:2px solid black;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
.navbar-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 12px 0px;
}
.navbar-menu li{
    list-style-type: none;
}
.navbar-menu li:hover{
    list-style-type: none;
    text-decoration: underline;
    color: #4C8787;
}
.homebutton {
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    background-color:  #f3f6ff;
    cursor: pointer;
}
.homebutton:hover {
    text-decoration: underline;
    color: #4C8787;
}
.upperheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rightupper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.addtocart{
    margin-top: 0.6rem;
}

.searchbutton{
    background-color: #4C8787;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.search{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.searchbar{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0px 80px 0px 25px;
}
#inputsearch{
    width: 90%;
    border: none;
    font-size: 1rem;
    padding: 0px 5px 0px 5px;
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}
#inputsearch:focus{
    outline: none;
}
.ship{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px;
}
.shippinglogo{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    align-items: center;
  
}
.Refund{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3rem;
}
.support{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}
.slider{
    position: relative;
    overflow: hidden;
    padding: 26px;
    background-color: #F9D370;
}
.imagecontainer{
    display: flex;
    flex-wrap: wrap;
}
.pre-button , .next-button {
    border: none;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F9D370;
}
.pre-button{
    left: 0;
}
.next-button{
    right: 0;
}
.next-button p , .pre-button p{
    font-size: 50px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.232);
    color: #4C8787;
}
.withhover{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.chair-content, .table-content,.minicouch-content{
    background-color: #F9D370;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.saletext{
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #A86A3D;
}
.chair-content2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.hotdeals{
    color: #323334;
    font-size: 1.375rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.image-container{
    position: relative;
    width: 300px; /* Adjust the size as needed */
}
  .image-container:hover .image {
    opacity: 0.3;
  }
  .image-container:hover .hovercontent {
    opacity: 1; /* Display text on hover */
  }
  .hovercontent{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 93%;
    height: 78%;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); 
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    border-radius: 5px;
    font-size: 1.3rem;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .searchbutton1{
    background-color: #4C8787;
    border: none;
    color: black;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  } 
.upper4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .lower4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .upper2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2.6rem;
  }
  .item8{
    margin-top: 1.5rem;
  }
.productname{
    font-size: 1.125rem;
    color: #323334;
    font-weight: 700;
}
.priceproduct{
  font-size: 1.5rem;
  font-weight: 700;
  color: #323334;
}
.toprated{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column
    ;
}
.ratedprice {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}
.ratedobject , .ratedobject1 , .ratedobject2
{
margin: 50px;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
/* .ratedobject{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */
.ratedcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.component{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ratedtext{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ratedtext1{
    margin-bottom: 25x;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ratedname{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.subsribetext {
    font-size: 1.125rem;
    font-weight: 400;
}
.signuptext{
    font-size: 1.75rem;
    font-weight: 700;
}
.emailtext{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.emailus{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.upper4,.lower4{
    margin-top: 30px;
    margin-bottom: 30px;

}
.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ratings {
    display: flex;
    flex-wrap: wrap;
}
.carttext {
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailprice {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    margin: 30px;
}
.Info1{
    margin: 80px;
}
.bedsheet {
    margin: 50px 0px 50px 0px;
}
.upper4 , .lower4{
    margin: 25x;
}
.item-text {
 display: flex;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: 600;
 font-size: 1.3rem;
}
.emailus {
    width: 100%;
}

@media screen and (max-width : 450px) {
    .navbar-menu{
        display: none;
    }
    .menu-icon{
        display: block;
    }
}
@media screen and (min-width : 451px) {
    .menu-icon{
        display: none;
    }
    .navbar{
        display: block;
    }
}


@media screen and  (max-width :920px){
    .toprated{
        justify-content: center;
        align-items: center;
       }
       .ratedobject , .ratedobject1 , .ratedobject2{
        flex-direction: column;
       }
      
}
@media screen and (max-width :630px) {
         .upper4 , .lower4{
             justify-content: center;
             align-items: center;
         }
         .upper2{
            flex-direction: column;
            margin-left: 20px;
         }
         .item8
}
@media  screen and (max-width : 365px) {
    .bedsheet {
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width : 440px) {
    .Info1,{
        justify-content: center;
        align-items: center;
    }
    .leftb,.lefta {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.Info1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.part1a 
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.leftb{
    font-weight: 600;
    font-size: 25px;
}
